# 1) Importing Libraries

In [2]:
import pandas as pd

# 2) Loading Data

In [3]:
df=pd.read_csv('pokemon_data.csv')

# Creating Pandas Series

In [24]:

series = pd.Series([10, 20, 30, 40])
print(series)

0    10
1    20
2    30
3    40
dtype: int64

# Creating Pandas DataFrame

In [25]:

data = {
    'Name': ['Nabin', 'Manoj', 'Milan'],
    'Age': [22, 25, 23],
    'City': ['kushma', 'Pokhara', 'Chitwan']
}
df = pd.DataFrame(data)
df

    Name  Age     City
0  Nabin   22   kushma
1  Manoj   25  Pokhara
2  Milan   23  Chitwan

# 3) Understanding the Data

In [5]:
df.head() #provide the first five rows from dataframe

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [6]:
df.tail()#provide the last five rows from data frame

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
df.shape #provide the shape of the dataframe

(800, 12)

In [8]:
df.columns #provide the name of all the columns in the data frame

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [9]:
df.info() # gives some information about the dataframe especially  column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [10]:
df.describe() # provides the statistical summary of the each column

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# 4) Handling Missing Values

In [11]:
df.isnull().sum() # provides the  no of null values in each column

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [12]:
df.dropna(inplace=True) #removes rows that contain missing values (NaN) from the DataFrame.

In [13]:
df['Type 2'].fillna(df['Type 2'].mode()[0]) # replacing the categorical column with its mode

0      Poison
1      Poison
2      Poison
3      Poison
6      Flying
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type 2, Length: 414, dtype: object

In [14]:
df['Type 2'].isnull().sum()# After filling with mode there is no missing values

np.int64(0)

# 5) Removing the Duplicate

In [15]:
df.duplicated().sum() # provies the  no of duplicate data in my dataframe

np.int64(0)

In [16]:
df.drop_duplicates(inplace=True) # removes the duplicate data

# 6) Renaming the Columns

In [17]:
df.rename(columns={
    'HP':'Health',
    'Generation':'Gen'
},inplace=True) # renaming the columns

# 7) Filtering The Rows

In [18]:
df[df['Health']>120] # provides the row that have Health greater than 120

,#,Name,Type 1,Type 2,Health,Attack,Defense,Sp. Atk,Sp. Def,Speed,Gen,Legendary
45,40,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
185,171,Lanturn,Water,Electric,125,58,58,76,76,67,2,False
473,426,Drifblim,Ghost,Flying,150,80,44,90,54,80,4,False
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True
710,646,Kyurem,Dragon,Ice,125,130,90,130,90,95,5,True
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True

In [19]:
df[(df['Health']>40) & (df['Name']=='Venusaur')] # gives the row that have health greater than 40 and the name is venusaur

,#,Name,Type 1,Type 2,Health,Attack,Defense,Sp. Atk,Sp. Def,Speed,Gen,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [20]:
df.sort_values(by='Health',ascending=False) # sorting the data in descending order with Health

,#,Name,Type 1,Type 2,Health,Attack,Defense,Sp. Atk,Sp. Def,Speed,Gen,Legendary
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True
473,426,Drifblim,Ghost,Flying,150,80,44,90,54,80,4,False
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True
45,40,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
303,280,Ralts,Psychic,Fairy,28,25,25,45,35,40,3,False
88,81,Magnemite,Electric,Steel,25,35,70,95,55,45,1,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [21]:
df['Attacking_power']=df['Attack'].apply(lambda x: 'High' if x>100  else 'Low') # use of applying function

In [22]:
df

,#,Name,Type 1,Type 2,Health,Attack,Defense,Sp. Atk,Sp. Def,Speed,Gen,Legendary,Attacking_power
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,Low
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,Low
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,Low
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,Low
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,Low
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,High
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,High
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,High
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,High

In [23]:
df.iloc[0]

#                          1
Name               Bulbasaur
Type 1                 Grass
Type 2                Poison
Health                    45
Attack                    49
Defense                   49
Sp. Atk                   65
Sp. Def                   65
Speed                     45
Gen                        1
Legendary              False
Attacking_power          Low
Name: 0, dtype: object